@tailwind base;
@tailwind components;
@tailwind utilities;

#home_hero {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/src/assets/bg1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
