@tailwind base;
@tailwind components;
@tailwind utilities;

#home_hero {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/src/assets/bg21.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#about_hero {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/src/assets/bg21.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
